<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">
        <div class="d-md-flex mb-3">
            <h3 class="box-title mb-0">Recent sales</h3>
            <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                <select class="form-select shadow-none row border-top">
                    <option>March 2021</option>
                    <option>April 2021</option>
                    <option>May 2021</option>
                    <option>June 2021</option>
                    <option>July 2021</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table no-wrap">
                <thead>
                    <tr>
                        <th class="border-top-0">ID</th>
                        <th class="border-top-0">Name</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons | async">
                        <td>{{person.id}}</td>
                        <td class="txt-oflo">{{person.Name}}</td>
                       
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>